.adjust-margin {
    margin: 0 3rem;
}

.main {
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.info-circle {
    margin-left: 3px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    font-size: 12px;
}

.m-right-20 {
    margin-right: 20px;
}

.m-left-20 {
    margin-left: 20px;
}

.p-block-10 {
    padding-block: 10px;
}

.bg-white {
    background: white;
}

.border-white {
    border-color: white;
}

.bg-coral {
    background: coral;
}

.bg-aquamarine {
    background: rgb(127, 255, 180);
}

.bg-mustard {
    background: rgb(255, 153, 0);
}

.bg-grey {
    background: rgb(201, 200, 200);
}

.font-grey {
    color: grey;
}

.rounded-border {
    border-radius: 20px
}

.p-block-3 {
    padding-block: 3px;
}

.p-block-5 {
    padding-block: 5px;
}

.p-inline-15 {
    padding-inline: 15px;
}