.adjust-margin {
    margin: 0 3rem;
}

.main {
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.info-circle {
    margin-left: 3px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    font-size: 12px;
}

.m-right-25 {
    margin-right: 25px;
}

.m-left-25 {
    margin-left: 25px;
}

.p-block-10 {
    padding-block: 10px;
}

.bg-white {
    background: white;
}

.border-white {
    border-color: white;
}

.rounded-border {
    border-radius: 20px;
    padding: 5px 15px;
}